<div class="row justify-content-center">
    <div class="col-9 ">
        <div class="container-sm breadcrumbcontainer">
            <ol class="breadcrumb">
                <li *ngFor="let categorie of categories" >
                    <small class="breadcrumbcolor">
                        {{categorie }} >
                    </small>
                </li>
            </ol>
        </div>
    </div>
</div>
