.breadcrumbcolor
    background-color: #EEEEEE
    color: #999999
    font-size: 14px

.breadcrumbcontainer
    background-color: #EEEEEE
    padding-bottom: 16px
    padding-top: 16px
    padding-left: 0px