.breadcrumbcolor
    background-color: #EEEEEE
    color: #999999
    font-size: 14px

.breadcrumbcontainer
    background-color: #EEEEEE
    padding-bottom: 16px
    padding-top: 16px
    padding-left: 0px

.containerresult
    background-color: #FFFFFF
    padding: 0px
    margin-bottom: 5%

.containerpricedescription
    margin-top: 30px

.imagesresult
    width: 600px
    height: 600px
    border-radius: 4px
    margin: 16px

.textPrice
    font-size: 46px
    font-style: normal
    text-decoration: auto 
    color: #333333
    margin: 32px 0px 32px 0px

.texttilteResult
    font-size: 24px
    font-style: normal
    width: 80%
    text-decoration: auto
    color: #333333
    font-weight: bold
    margin: 0px 0px 0px 0px

.textcondition
    font-size: 14px
    font-style: normal
    text-decoration: auto 
    margin: 0px 0px 16px 0px
    color: #666666

.texttitledescription
    font-size: 28px
    font-style: normal
    text-decoration: auto 
    color: #333333
    text-align: left

.texttdescription
    font-size: 16px
    font-style: normal
    text-decoration: auto 
    color: #666666
    text-align: justify
    margin-bottom: 30px

.containerdescription
    margin: 0px 0px 0px 30px

.buttonbuy
    background-color: #3483FA
    width: 80%
    

