<app-search></app-search>
<app-breadcrumb></app-breadcrumb>
<div class="row justify-content-center">
    <div class="col-9">
        <div class="container-sm containerresult">
            <div class="row m-0 p-0">
                <div class="col-8 p-0">
                    <img class="imagesresult" src="{{item?.picture ? item.picture : 'https://www.freeiconspng.com/thumbs/load-icon-png/load-icon-png-8.png'}}" alt="prueba">
                </div>
                <div class="col-4 p-0 containerpricedescription">
                    <p class="textcondition "> {{item?.condition}} - {{item?.sold_quantity}} vendidos</p>
                    <p class="texttilteResult ">{{item?.title}}</p>
                    <p class="textPrice ">{{item?.price.amount| currency}}</p>
                    <button class="btn btn-primary buttonbuy">Comprar</button>
                </div>
            </div>
            <div class="row m-0 p-0">
                <div class="col-6 containerdescription">
                    <p class="texttitledescription">Descripcion del producto</p>
                    <p class="texttdescription">
                        {{item?.description}}
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

