<div class="searchForm row justify-content-center">
    <div class="col-sm-12 col-lg-1 align-self-center">  
        <img class="" src="../../assets/Logo_ML.png">
    </div>
    <div class="col-lg-8 col-sm-12 align-self-center">
      <div class="input-group">
        <input #filterOfSearch type="text" (keydown.enter)="getListOfItems(filterOfSearch.value)" class="form-control" placeholder="Nunca dejes de buscar" aria-label="Nunca dejes de buscar" aria-describedby="basic-addon2">
        <button class="input-group-text" type="button"  id="basic-addon2" (click)="getListOfItems(filterOfSearch.value)">
            <img class="" src="../../assets/ic_Search.png">
        </button>
        
      </div>
    </div>
 
  </div>