<app-search (valueResponse)="catchResult($event)"></app-search>
<app-breadcrumb></app-breadcrumb>
<div class="row justify-content-center">
    <div class="col-9">
        <div class="container-sm containerresult">
            <div class="row m-0 p-0" *ngFor="let item of items" (click)="viewdetail(item.id)">
                <div class="col p-0">
                    <img class="imagesresult" src="{{item.picture}}" alt="prueba">
                </div>
                <div class="col-7 p-0">
                    <p class="textPrice">{{item.price.amount | currency}}
                        <img class="img" *ngIf="item.free_shipping" src="./../../assets/ic_shipping.png">
                    </p>
                  
                    <p class="textDescriptionResult">{{item.title}}</p>
                </div>
                <div class="col p-0 align-self-center">
                    <p class="textlocation">{{item.state_name}}</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

