.containerresult
    background-color: #FFFFFF
    padding: 0px

.imagesresult
    width: 180px
    height: 180px
    border-radius: 4px
    margin: 16px

.textPrice
    font-size: 24px
    font-style: normal
    text-decoration: auto 
    color: #333333
    margin: 32px 0px 32px 0px

.textDescriptionResult
    font-size: 18px
    font-style: normal
    width: 80%
    text-decoration: auto 
    color: #333333

.textlocation
    font-size: 12px
    font-style: normal
    text-decoration: auto 
    color: #666666
    text-align: center

hr
    width: 95%
    margin-left: auto
    margin-right: auto
    

